body {
	margin:0px;
	background-color: #fef8f7;
	position: relative;
	padding-bottom: 90px;
	min-height: 100vh;
}

.logo {
	height: 40px;
	width: 40px;
	margin-top: 5px;
	margin-left: -12px;
}

button {
	font-size: 16px;
	text-align: center;
	border-radius: 8px;
	padding: 10px 20px;
}

h1, ul, img {
	display: inline;
}


.nav {
	background-color:#111;
	border: 1px solid #f06495;
}
.nav h1 {
	margin: 25px;
	color: #f06495;
	font-size: 45px;
	margin-left: 880px;
	font-family: 'Lobster', cursive;
}



.menu {
	float: right;
	margin: -3px;
	color: #f06495;
	font-size: 35px;
	padding-right: 10px;
	text-align: center;
}
.menu__li {
	display: inline-block;
	margin: 5px;
}
.menu__li a {
	color: #f06495;
	text-decoration: none;
	font-size: 22px;
	font-family: 'Secular One', sans-serif;
}
.menu__li:hover > a {
	color: #F28773;
}


.sub {
	background: #111;
	border: 1px solid #f06495;
	font-family: 'Lobster', cursive;
	height: 60px;
}
.sub__ul {
	margin: 0;
	color: #f06495;
	margin-left: 620px;
	display: block;
	list-style: none;
	position: absolute;
}
.sub__li {
	padding: 12px 12px;
	float: left;
}
.sub__li a {
	color: #f06495;
	font-size: 29px;
	text-decoration: none;
}
.sub__li:hover > a {
	color: #F28773;
	box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

#input-search{
    width: 300px;
    height: 40px;
    font-size: 20px;
    text-indent: 10px;
}
.content-search{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0;
    background: rgba(0,0,0,0.3);
    display: none;
}
.content-table{
    width: 80%;
    max-height: 200px;
    height: auto;
    background: rgba(0,0,0,0.3);
    margin-left: 10px;
    overflow-y: visible;
    overflow-x: hidden;
}
.content-table table{
    width: 100%;
}
tbody tr td a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
tbody tr td a:hover{
    background: rgba(0,0,0,0.3);
}
#table_length, #table_filter, #table_info, #table_paginate{
    display: none;
}
.btn {
    position: absolute;
    top:0;
    right: 0;
    background: #f06495;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.buscar {
    position: absolute;
    padding: 5px;
    margin: 1px;
    left: 20px;
    margin: 3px;
}
.buscar input {
    width: 0px;
    height: 36px;
    padding: 0px 20px;
    font-size: 17px;
    font-family: 'Secular One', sans-serif;
    color: #000;
    outline: none;
    border: 1px solid #f06495;
    border-radius: 29px;
    transition: all 0.6s ease;
}
.buscar:hover input {
    width: 240px; 
}
.buscar input:focus {
    width: 240px; 
}

.prox {
	width: 50%;
	margin: auto;
	overflow: hidden;
	height: 100%;
	padding: 10px;
}

.contacto img {
	width: 100%;
	margin: auto;
	overflow: hidden;
	height: 100%;
	padding: 5px;
}

.slider {
	width: 50%;
	margin: auto;
	overflow: hidden;
	height: 100%;
}
.slider ul{
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate;
	animation-timing-function: ease-in;
}
.slider li {
	width: 100%;
	list-style: none;
}
.slider img {
	width: 100%;
}
@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -200%;}
	100% {margin-left: -200%;}
}


.page-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	font-family: 'Lobster', cursive;
	padding-top: 10px;
	padding-bottom: 10px;
}
.product-container {
	margin: 5px;
	padding: 2px 16px;
	position: relative;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	background-color: white;
}
.product-container:hover {
	box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.product-container img {
	width: 500px;
}


.button-add {
	background-color: white;
	border: 2px solid #f06495;
	color: black;
	transition-duration: 0.4s;
	position: absolute;
	right: 25px;
	bottom: 17px;
	font-size: 25px;
	text-align: center;
	border-radius: 8px;
	padding: 8px 20px;
}
.button-add:hover {
	background-color: #f06495;
	color: white;
}
.product-container h2 {
	font-size: 23px;
	margin-bottom: 10px;
	margin-left: 0px;
	color: #f06495;
	text-shadow: 8px;
	font-family: 'Arvo', serif;
}
.product-container h3 {
	font-size: 38px;
	margin: 16px 10px 16px 20px;
	bottom: 20px;
	color: #f06495;
}


.wsp {
	position: fixed;
	bottom: 5px;
	right: 10px;
	padding: 0;
	margin: 0;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}


footer {
	background-color: #111;
	border: 1px solid #f06495;
	margin-top: 0;
	width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
	padding-top: 5px;
	bottom: 0;
}
.foot__ul {
	margin: 0;
	color: #f06495;
	font-size: 15px;
	font-family: 'Secular One', sans-serif;
	padding: 5px;
}
.foot__li {
	display: inline-block;
	padding: 3px;
}
.foot__li a {
	color: #f06495;
	font-size: 17px;
	text-decoration: none;
}
.foot__li:hover > a {
	color: #F28773;
	box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}


/* -------------------------------------------------------------------------------------------------------------------- */


@media screen and (max-width: 800px){
	.slider {
	width: 100%;
	}
	.prox img {
	width: 100%;
	}
	.contacto {
	width: 97%;
    }
	.nav h1 {
	margin: 20px;
	font-size: 40px;
	margin-left: 230px;
	}

	.menu {
	float: none;
	margin-top: -20px;
	display: inline-block;
	width: 100%;
	padding: 0px;
	}
	.menu__li a {
	text-decoration: none;
	font-size: 14px;
	font-family: 'Secular One', sans-serif;
	}

	#input-search{
    width: 120px;
    height: 35px;
    font-size: 16px;
    text-indent: 10px;
	}
	.content-search{
    width: 100px;
    height: 100vh;
    position: fixed;
    top: 40px;
    left: 0;
    display: none;
	}
	.buscar {
	position: absolute;
	padding: 3px;
	margin: 1px;
	left: 5px;
	top: 4px;
	margin: 5px;
	}
	.buscar input {
	width: 0px;
	height: 30px;
	padding: 0px 5px;
	font-size: 11px;
	outline: none;
	}
	.btn {
	position: absolute;
	top:0;
	right: 0;
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-size: 12px;
	border-radius: 50%;
	}
	.buscar:hover input {
	width: 100px; 
	}
	.buscar input:focus {
	width: 100px; 
	}

	.sub {
	text-align: center;
	height: 42px;
	}
	.sub__ul {
	padding: 5px;
	margin:  0px 0px 0px 13px;
	
	}
	.sub__li {
	display: block;
	padding: 2px 5px;
	}
	.sub__li a {
	font-size: 20px;
	}
	.product-container {
		margin: 2px 0px;
		padding: 2px 0px;
	}
	
	.product-container img {
		width: 370px;
	}
	.product-container h2 {
		font-size: 25px;
		margin: 10px 10px 10px 20px;
		color: #f06495;
		text-shadow: 8px;
		font-family: 'Arvo', serif;
	}
	.product-container h3 {
		font-size: 35px;
		margin: 10px 10px 10px 20px;
		color: #f06495;
	}
	.button-add {
		background-color: white;
		position: absolute;
		font-size: 22px;
		text-align: center;
		padding: 8px 12px;
		margin: 10px;
		bottom: 0px;
	}

	footer {
	height: 65px;
	}
	.foot__ul {
	font-size: 13px;
	padding: 5px;
	}
	.foot__li a{
	font-size: 15px;
	}
}